# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\InterestingAlgorithm\Quick_sort\quickSort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
